{% extends 'main.html' %}

{% block content %}

<!-- ========== ORDERS CONTAINER ========== -->
<div class="table-container">
    <!-- ---------- ORDERS TABLE ---------- -->
    <table class="table">
      <!-- table header -->
      <thead class="table__header">
          <tr class="table__header-raw">
            <th class="col col5">Status</th>
            <th class="col col6">Total</th>
          <tr>
        </thead>
        <!-- pending table body -->
        <tbody class="table__body">
          {% if navbar == 'orders' %}
          <tr class="table__body-raw" data-href="{% url 'ordersPending' %}">
            <td class="col col1">
              <button class="table__status table__status--pending">Pending</button>
            </td>
            <td class="col col2">{{orders_pending_count}}</td>
          </tr>
          {% else %}
          <tr class="table__body-raw" data-href="{% url 'customerOrdersPending' %}">
            <td class="col col1">
              <button class="table__status table__status--pending">Pending</button>
            </td>
            <td class="col col2">{{orders_pending_count}}</td>
          </tr>
          {% endif %}
        </tbody>
        <!-- paid table body -->
        <tbody class="table__body">
          {% if navbar == 'orders' %}
          <tr class="table__body-raw" data-href="{% url 'ordersPaid' %}">
            <td class="col col1">
              <button class="table__status table__status--paid">Paid</button>
            </td>
            <td class="col col2">{{orders_paid_count}}</td>
          </tr>
          {% else %}
          <tr class="table__body-raw" data-href="{% url 'customerOrdersPaid' %}">
            <td class="col col1">
              <button class="table__status table__status--paid">Paid</button>
            </td>
            <td class="col col2">{{orders_paid_count}}</td>
          </tr>
          {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}