{% extends 'main.html' %}

{% block content %}

<!-- ========== ORDERS PAID CONTAINER ========== -->
<div class="table-container">
    <!-- ---------- ORDERS PAID TABLE ---------- -->
        <table class="table">
        <!-- table header -->
        <thead class="table__header">
            <tr class="table__header-raw">
              <th class="col col1">Id</th>
              <th class="col col2">Product</th>
              <th class="col col2">Date</th>
              <th class="col col3">Quantity</th>
              <th class="col col4">Price</th>
              <th class="col col5">Status</th>
            <tr>
          </thead>
        <!-- table body -->
          <!-- get all paid orders from 'orders' model -->
          {% for order in orders %}
          <tbody class="table__body">
            <tr class="table__body-raw">
              <td class="col col1">{{order.id}}</td>
              <td class="col col2">{{order.item}}</td>
              <td class="col col2">{{order.date_created}}</td>
              <td class="col col3">{{order.quantity}}</td>
              <td class="col col4">{{order.price}}</td>
              <td class="col col5">
                  <button class="table__status table__status--paid">Paid</button>
              </td>
            </tr>
          </tbody>
          {% endfor %}
    </table>
    <!-- empty container ( for showing "NOTHING HERE") -->
    {% include 'nothing.html' %}
</div>

{% endblock %}