/* ---------- form --------- */
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.form__card {
    flex: 1;
    max-width: 30rem;
    min-width: 30rem;
    background-color: var(--colorDarkMedium);
    margin: 2rem 2rem;
    border-radius: 2rem;
    padding: 2rem;
}

/* form header */
.form__header-container {
    position: relative;
    display: flex;
    margin-top: 1rem;
}

.form__header {
    font-size: 1.8rem;
    margin-left: 1.8rem;
    color: var(--colorWhiteExtraLight)
}

/* form before header text colored line */
.form__header-container::before {
    content: '';
    width: .6rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    border-radius: .4rem;
}

/* colored line on different form */
.form__order-card
.form__header-container::before {
    background-image: linear-gradient(var(--gradientColor1), var(--gradientColor2));
}

.form__item-card
.form__header-container::before {
    background-image: linear-gradient(var(--gradientColor3), var(--gradientColor4));
}

.form__category-card
.form__header-container::before {
    background-image: linear-gradient(var(--gradientColor5), var(--gradientColor6));
}

.form__tag-card
.form__header-container::before {
    background-image: linear-gradient(var(--gradientColor7), var(--gradientColor8));
}

/* form body */
.form__list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.form__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.form__name {
    font-size: 1.5rem;
    color:var(--colorDarkLight);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/* form text input */
.form__inp {
    width: 90%;
    font-weight: 600;
    color: var(--colorDarkExtraLight);
    background-color: var(--inpBgColor);
    border-color: var(--seperatorColor);
    border-style: solid;
    border-width: .1rem;
    border-radius: .8rem;
    padding: 1rem;
    transition: box-shadow 0.4s ease;
}

/* form select element input */
.form__select-inp {
    width: 97%;
    color: var(--colorDarkExtraLight);
    background-color: var(--inpBgColor);
    border-color: var(--seperatorColor);
    border-style: solid;
    border-width: .1rem;
    border-radius: .8rem;
    padding: 1rem;
    transition: box-shadow 0.4s ease;
}

/* select element background and text color */
option {
    background-color: var(--colorDarkMedium);
    color: var(--colorDarkExtraLight);
}

/* form input focus */
.form__order-card
.form__inp:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(20, 149, 255, .2);
}

.form__item-card
.form__inp:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 245, 0, .2);
}

.form__category-card
.form__inp:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(233, 96, 54, .2);
}

.form__tag-card
.form__inp:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 209, 255, .2);
}

.form__button {
    margin: 2.5rem 2rem 1rem 2rem;
    padding: 0.8rem 1.2rem;
    border-style: none;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: .5rem .5rem 20px rgba(255, 255, 255, 0.2);
}

/* form button color */
.form__order-card
.form__button {
    color: var(--colorWhite);
    background-image: linear-gradient(var(--gradientColor2), var(--gradientColor2));
}

.form__item-card
.form__button {
    color: var(--colorWhite);
    background-image: linear-gradient(var(--gradientColor3), var(--gradientColor4));
}

.form__category-card
.form__button {
    color: var(--colorWhite);
    background-image: linear-gradient(var(--gradientColor5), var(--gradientColor6));
}

.form__tag-card
.form__button {
    color: var(--colorWhite);
    background-image: linear-gradient(var(--gradientColor7), var(--gradientColor8));
}

/* form button active */
.form__button:active {
    background-image: linear-gradient(var(--colorWhite), var(--colorWhite));
    color: var(--colorDark);
    box-shadow: .5rem .5rem 20px rgba(0, 0, 0, 0.2);
}