/* ========== DASHBOARD ========== */
/* ----------- CARDS ---------- */
.dashboard {
    background-color: var(--colorDark);
    display: flex;
    flex-direction: column;
}

/* ---------- Dashboard overview container ---------- */
.dashboard__overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

/* ---------- Dashboard cards -------- */
.dashboard__card {
    flex: 1;
    max-width: 20rem;
    min-width: 10rem;
    background-color: var(--colorDarkMedium);
    margin: 2rem 2rem;
    border-radius: 2rem;
    padding: 2rem;
}

.dashboard__card-title {
    color: var(--colorDarkLight);
}

.dashboard__card-number-container {
    position: relative;
    display: flex;
    margin-top: 1.2rem;
}

/* before number text colored line */
.dashboard__card-number {
    font-size: 3rem;
    margin-left: 1.8rem;
    color: var(--colorWhiteExtraLight)
}

.dashboard__card-number-container::before {
    content: '';
    width: .6rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    border-radius: .4rem;
}

.dashboard__total-products
.dashboard__card-number-container::before {
    background-image: linear-gradient(var(--gradientColor1), var(--gradientColor2));
}

.dashboard__stock-in-hand
.dashboard__card-number-container::before {
    background-image: linear-gradient(var(--gradientColor3), var(--gradientColor4));
}

.dashboard__pending
.dashboard__card-number-container::before {
    background-image: linear-gradient(var(--gradientColor5), var(--gradientColor6));
}

.dashboard__paid
.dashboard__card-number-container::before {
    background-image: linear-gradient(var(--gradientColor7), var(--gradientColor8));
}

/* --------- charts ---------- */
.chart {
    display: grid;
    grid-template-columns: calc(50% - 2px) calc(50% - 2px);
    grid-gap: 2rem;
    margin-right: 1.8rem;
    margin-left: 1.8rem;
}

.chart__container {
    margin-top: 4rem;
    background-color: var(--colorDarkMedium);
    border-radius: 2rem;
    padding: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 1310px) {
    .chart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .chart__container {
        width: 60rem;
        margin-right: 0rem;
    }
}

@media (max-width: 1150px) {
    .dashboard__card {
        max-width: 20rem;
        min-width: 18rem;
    }

    .chart__container {
        width: 48rem;
        margin-right: 0rem;
    }
}

@media (max-width: 870px) {
    .dashboard__overview {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .chart__container {
        width: 48rem;
        margin-right: 0rem;
    }
}

@media (max-width: 650px) {
    .dashboard__overview {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width: 420px) {
    .dashboard__card {
        max-width: 18rem;
        min-width: 10rem;
    }

    .chart__container {
        width: 40rem;
        margin-right: 0rem;
    }
}

@media (max-width: 390px) {
    .dashboard__card {
        max-width: 18rem;
        min-width: 10rem;
    }

    .chart__container {
        width: 38rem;
        margin-right: 0rem;
    }
}   

@media (max-width: 380px) {
    .dashboard__card {
        max-width: 20rem;
        min-width: 12rem;
    }

    .chart__container {
        width: 38rem;
        margin-right: 0rem;
    }
}

@media (max-width: 380px) {
    .dashboard__card {
        max-width: 20rem;
        min-width: 12rem;
    }

    .chart__container {
        width: 35rem;
        margin-right: 0rem;
    }
}