/* ========== USERS ========== */
.users {
    display: flex;
}

/* ---------- staff ---------- */
.staff {
    flex: 3 ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    margin-top: 4rem;
}

.staff__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 15rem;
    height: 16rem;
    max-width: 15rem;
    min-width: 15rem;
    background-color: var(--colorDarkMedium);
    margin: 2rem 2rem;
    border-radius: 2rem;
    padding: 3rem 2rem;
}

.staff__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;    
    height: 7rem;
    border-style: solid;
    border-color: var(--colorOrange);
    border-radius: 50%;
    border-width: .2rem;
    object-position: center;
    object-fit:cover;
}

.staff__img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.staff__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.staff__name {
    color: var(--colorDarkExtraLight);
}

.staff__email {
    color: var(--colorDarkLight);
    margin-top: 0.3rem;
}

.staff__progress-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.staff__progressbar {
    background-color:var(--colorOrangeExtraLight);
    display: flex;
    align-items: center;
    margin-right: 1rem;
    width: 10rem;
    height: .4rem;
    border-radius: .5rem;
}

.staff__progress {
    height: .4rem;
    background-color: var(--colorOrange);
    border-radius: .5rem;
}

.staff__parcentage {
    font-size: .9rem;
    color: var(--colorWhite);
}

.separator {
    width: 0.1rem;
    position: relative;
    top: 0;
    bottom: 0;
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--seperatorColor);
}

/* ---------- Customer ---------- */
.users__list {
    display: flex;
    flex: 1.5;
}