{% extends 'main.html' %}

{% block content %}

<!-- ======== USERS ========= -->
<div class="users">
    <!-- --------- staff --------- -->
    <div class="staff">
        {% for staff in staffs %}
        <div class="staff__card">
            <div class="staff__img-container">
                <img src="{{ staff.profile_image.url }}" alt="" class="staff__img">
            </div>

            <div class="staff__info-container">
                <h5 class="staff__name">{{staff.name}}</h5>
                <h6 class="staff__email">{{staff.email}}</h6>
            </div>

            <div class="staff__progress-container">
                <div class="staff__progressbar">
                    <div class="staff__progress"
                    style="width: 20%;"></div>
                </div>
                <div class="staff__parcentage">%</div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="separator"></div>

    <div class="users__list">
</div>

<!--
    <div class="form">
        <div class="form__container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form__card form__category-card">
                <div class="form__header-container">
                    <h5 class="form__header">Customer</h5>
                </div>
    
                <div class="form__list">
                    <div class="form__item">
                        <h5 class="form__name">username</h5>
                        <div class="form-group">
                            <input type="text" class="form__inp" name="username">
                        </div>
                    </div>
                </div>

                <div class="form__list">
                    <div class="form__item">
                        <h5 class="form__name">email</h5>
                        <div class="form-group">
                            <input type="text" class="form__inp" name="email">
                        </div>
                    </div>
                </div>

                <div class="form__list">
                    <div class="form__item">
                        <h5 class="form__name">password</h5>
                        <div class="form-group">
                            <input type="password" class="form__inp" name="password">
                        </div>
                    </div>
                </div>

                <div class="form__list">
                    <div class="form__item">
                        <h5 class="form__name">confirm passowrd</h5>
                        <div class="form-group">
                            <input type="password" class="form__inp" name="confirmPassword">
                        </div>
                    </div>
                </div>
    
                <input type="submit" name="submit" class="form__button">Add Customer</input>
            </div>
            </form>
        </div>
    </div>
-->
</div>

{% endblock %}