{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- ===== Fonts from Google Fonts -->
    <!-- Inter Font -->
    <!-- Font Weight
            Reguler : 400
            Medium : 500
            Semibold : 600
            Bold : 700
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous">
    </script>
        <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous"
      />
    <!-- ========== Common Styles =========== -->

    <!-- ----- Main styles ----- -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- ----- Root Colors ----- -->
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <!-- ----- Font Size and Styles ----- -->
    <link rel="stylesheet" href="{% static 'css/font.css' %}">

    <!-- ========== Common Components Styles ========== -->

    <!-- ----- Sidebar Styles ----- -->
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <!-- ----- Topbar Styles ----- -->
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <!-- ----- Table Styles ----- -->
    <link rel="stylesheet" href="{% static 'css/table.css' %}">

    <!-- ========== All Pages Styles ========= -->

    <!-- ----- Dashboard Styles ----- -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <!-- ----- Customers Styles ------ -->
    <link rel="stylesheet" href="{% static 'css/staff.css' %}">
    <!-- ----- Create Item Styles ------ -->
    <link rel="stylesheet" href="{% static 'css/create.css' %}">


    <!-- ========== JAVASCRIPT ========= -->
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <!-- Topbar -->
    {% include 'topbar.html' %}

    {% block content %}

    {% endblock %}
</body>
</html>