{% extends 'main.html' %}

{% block content %}
<!-- admin can create every model content from here -->
    <div class="form">
        {% if request.user.is_staff %}
        <div class="form__container">
            <!-- --------- CATEGORY FORM --------- -->
            <form action="" method="POST">
            {% csrf_token %}
            <div class="form__card form__category-card">
                <div class="form__header-container">
                    <h5 class="form__header">Category</h5>
                </div>
    
                <div class="form__list">
                    <div class="form__item">
                        <h5 class="form__name">Name</h5>
                        <div class="form-group">
                            {{categoryForm.name}}
                        </div>
                    </div>
                </div>
    
                <input type="submit" name="submit" class="form__button"></input>
            </div>
            </form>
            <!-- --------- TAG FORM --------- -->
            <form action="" method="POST">
            {% csrf_token %}
            <div class="form__card form__tag-card">
                <div class="form__header-container">
                    <h5 class="form__header">Tag</h5>
                </div>
    
                <div class="form__list">
                    <div class="form__item">
                        <h5 class="form__name">Name</h5>
                        <div class="form-group">
                            {{tagForm.name}}
                        </div>
                    </div>
                </div>
    
                <input type="submit" name="submit" class="form__button"></input>
            </div>
            </form>
        </div>
    
        <!-- --------- ITEM FORM --------- -->
        <div class="form__container">
            <form action="" method="POST">
            {% csrf_token %}
            <div class="form__card form__item-card">
                <div class="form__header-container">
                    <h5 class="form__header">Item</h5>
                </div>
    
                <div class="form__list">
                    <div class="form__item">
                        <h5 class="form__name">Name</h5>
                        <div class="form-group">
                            {{itemform.name}}
                        </div>
                    </div>
    
                    <!-- <div class="form__item">
                        <h5 class="form__name">Weight</h5>
                        <div class="form-group">
                            {{itemform.weight}}
                        </div>
                    </div> -->
        
                    <div class="form__item">
                        <h5 class="form__name">Quantity</h5>
                        <div class="form-group">
                            {{itemform.quantity}}
                        </div>
                    </div>
        
                    <div class="form__item">
                        <h5 class="form__name">Price</h5>
                        <div class="form-group">
                            {{itemform.price}}
                        </div>
                    </div>
    <!-- 
                    <div class="form__item">
                        <h5 class="form__name">Rate</h5>
                        <div class="form-group">
                            {{itemform.rate}}
                        </div>
                    </div> -->
        
                    <div class="form__item">
                        <h5 class="form__name">Category</h5>
                        <div class="form-group">
                            {{itemform.category}}
                        </div>
                    </div>
                    
                    <div class="form__item">
                        <h5 class="form__name">Tag</h5>
                        <div class="form-group">
                            {{itemform.tag}}
                        </div>
                    </div>
                </div>
    
                <input type="submit" name="submit" class="form__button"></input>
            </div>
            </form>
        </div>

    {% endif %}

    <!-- -------- ORDER FORM --------- -->
    <div class="form__container">
        <form action="" method="POST">
        {% csrf_token %}
        <div class="form__card form__order-card">
            <div class="form__header-container">
                <h5 class="form__header">Order</h5>
            </div>

            <div class="form__list">
                <div class="form__item">
                    <h5 class="form__name">Name</h5>
                    <div class="form-group">
                        {{orderForm.customer}}
                    </div>
                </div>

                <div class="form__item">
                    <h5 class="form__name">Item</h5>
                    <div class="form-group">
                        {{orderForm.item}}
                    </div>
                </div>

                <div class="form__item">
                    <h5 class="form__name">Price</h5>
                    <div class="form-group">
                        {{orderForm.price}}
                    </div>
                </div>

                <div class="form__item">
                    <h5 class="form__name">Quantity</h5>
                    <div class="form-group">
                        {{orderForm.quantity}}
                    </div>
                </div>

                <!-- <div class="form__item">
                    <h5 class="form__name">Rate</h5>
                    <div class="form-group">
                        {{orderForm.rate}}
                    </div>
                </div> -->

                <div class="form__item">
                    <h5 class="form__name">Status</h5>
                    <div class="form-group">
                        {{orderForm.status}}
                    </div>
                </div>
            </div>
            <input type="submit" name="submit" class="form__button"></input>
        </div>
        </form>
    </div>

    <!-- -------- CUSTOMER FORM --------- -->
    <div class="form__container">
        <form action="" method="POST">
        {% csrf_token %}
        <div class="form__card form__order-card">
            <div class="form__header-container">
                <h5 class="form__header">customer</h5>
            </div>

            <div class="form__list">
                <div class="form__item">
                    <h5 class="form__name">Name</h5>
                    <div class="form-group">
                        {{customerForm.name}}
                    </div>
                </div>

                <div class="form__item">
                    <h5 class="form__name">Email</h5>
                    <div class="form-group">
                        {{customerForm.email}}
                    </div>
                </div>

                <div class="form__item">
                    <h5 class="form__name">Phone</h5>
                    <div class="form-group">
                        {{customerForm.phone}}
                    </div>
                </div>

                <div class="form__item">
                    <h5 class="form__name">Gender</h5>
                    <div class="form-group">
                        {{customerForm.gender}}
                    </div>
                </div>
            </div>
            <input type="submit" name="submit" class="form__button"></input>
        </div>
        </form>
    </div>

</div>
{% endblock %}