{% extends 'auth.html' %}

{% block content %}
<div class="navigation h-100">
    <div class="d-flex justify-content-center h-100">
        <a class="navigation-card" href="{% url 'register' %}">
          <div class="d-flex justify-content-center">
            <h5 id="form-title">AUTH</h5>
          </div>
        </a>
        <div class="div"></div>
        <a class="navigation-card">
            <div class="d-flex justify-content-center">
              <h5 id="form-title">GUEST</h5>
            </div>
        </a>
    </div>
</div>
{% endblock %}