{% extends 'auth.html' %}

{% block content %}


<div class="container h-100">
	<div class="d-flex justify-content-center h-100">
		<div class="user_card">
			<div class="d-flex justify-content-center">
				<h3 id="form-title">Enter new password</h3>
			</div>
			<br>
			<div class="d-flex justify-content-center form_container">
				<form method="POST" action="">
					{% csrf_token %}
					{{form}}
					<div class="d-flex justify-content-center mt-3 login_container">
						<input class="btn login_btn" type="submit" value="Confirm">
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

{% endblock %}