{% extends 'auth.html' %}

{% block content %}

<div class="container h-100">
	<div class="d-flex justify-content-center h-100">
		<div class="user_card">
			<div class="d-flex justify-content-center">
				<h3 id="form-title">Password reset complete</h3>
			</div>
			<br>
			<div id="desc" class="d-flex justify-content-center">
				<p>Your password has been set. You may go ahead and log in now.</p>
			</div>

			<br>
			<div class="d-flex justify-content-center">
				<a href="{% url 'login' %}">Log in</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}