{% extends 'main.html' %}


{% block content %}
<!-- ========== DASHBOARD ========== -->
<div class="dashboard">
    <!-- ---------- DASHBOARD OVERVIEW CARDS ---------- -->
    <div class="dashboard__overview">
        <div class="dashboard__card dashboard__total-products">
            <h5 class="dashboard__card-title">Stock in hand</h5>
            <div class="dashboard__card-number-container">
                <h1 class="dashboard__card-number">{{total_stock}}</h1>
            </div>
        </div>
        <div class="dashboard__card dashboard__stock-in-hand">
            <h5 class="dashboard__card-title">Orders</h5>
            <div class="dashboard__card-number-container">
                <h1 class="dashboard__card-number">{{total_order}}</h1>
            </div>
        </div>
        <div class="dashboard__card dashboard__pending">
            <h5 class="dashboard__card-title">Pending</h5>
            <div class="dashboard__card-number-container">
                <h1 class="dashboard__card-number">{{pending_order}}</h1>
            </div>
        </div>
        <div class="dashboard__card dashboard__paid">
            <h5 class="dashboard__card-title">Paid</h5>
            <div class="dashboard__card-number-container">
                <h1 class="dashboard__card-number">{{paid_order}}</h1>
            </div>
        </div>
    </div>

    <!-- ---------- CHART ---------- -->
    <div class="chart">
      <div class="chart__container">
        <canvas id="chart1"></canvas>
      </div>
  
      <div class="chart__container">
        <canvas id="chart2"></canvas>
      </div>
    </div>
    
    <!-- ---------- RECENT ORDERS TABLE ---------- -->
    <h4 class="table-title">Recent Orders</h4>
    <table class="table">
      <!-- table header -->
        <thead class="table__header">
            <tr class="table__header-raw">
              <th class="col col1">Id</th>
              <th class="col col2">Item</th>
              <th class="col col3">Date</th>
              <th class="col col4">Rate</th>
              <th class="col col5">Price</th>
              <th class="col col6">Status</th>
            <tr>
          </thead>
        <!-- table body -->
          <!-- get all order from 'orders' model -->
          {% for order in orders %}
          <tbody class="table__body">
            <tr class="table__body-raw">
              <td class="col col1">{{order.id}}</td>
              <td class="col col2">{{order.item}}</td>
              <td class="col col3">{{order.date_created}}</td>
              <th class="col col4">{{order.rate}}</th>
              <td class="col col4">{{order.price}}</td>
                <!-- showing different button as per the status -->
                {% if order.status == 'Paid' %}
                <td class="col col5">
                    <button class="table__status table__status--paid">Paid</button>
                </td>
                {% else %}
                <td class="col col5">
                    <button class="table__status table__status--pending">Pending</button>
                </td>
                {% endif %}
            </tr>
          </tbody>
          {% endfor %}
          <tbody class="table__body">
    </table>
    <!-- empty container ( for showing "NOTHING HERE") -->
    {% include 'nothing.html' %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    const data1 = {
        labels: {{labels|safe}},
        datasets: [{
        label: 'Sales',
        data: {{order_data|safe}},
        borderRadius: 5,
        borderWidth:1,
        borderColor:'#46B1A1',
        borderSkipped: false,
        },
        {
        label: 'Stock',
        borderColor:'#F5E164',
        data: {{stock_data|safe}},
        borderRadius: 5,
        borderWidth:1,
        borderSkipped: false,
        },
    ]
    };

    const config1 = {
        type: 'line', 
        data: data1,
        options: {
          responsive: true,
        }
    };

    const data2 = {
        labels: ['Pending', 'Paid'],
        datasets: [{
        label: 'Sales',
        backgroundColor: ['#46B1A1', '#F5E164'],
        data: [{{pending_order|safe}},{{paid_order|safe}}],
        borderWidth:5,
        borderColor:'#070707',
        },
    ]
    };

    const config2 = {
        type: 'pie', 
        data: data2,
        options: {
          responsive: true,
        }
    };
  window.onload = function() {
    var ctx = document.getElementById('chart1').getContext('2d');
    window.myPie = new Chart(ctx, config1);

    var ctx2 = document.getElementById('chart2').getContext('2d');
    window.myPie = new Chart(ctx2, config2);
  };
</script>
{% endblock %}